# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Lennart Royl\Documents\Studium\4. Semester\Software engineering\Refactoring\Fowler-c0e1c7a21a5335d7e475c2c795ed77deec37b776\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
